/* Main container for all drinks */


.drinks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.drinks-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 950px;
  margin-bottom: 5px;
}

#drinks-heading {
  font-size: 2rem;
  color: #495e57;
}

.drinks-button {
  align-items: center;
  text-align: center;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  color: #f4ce14;
  background-color: transparent;
  border: 1px solid #f4ce14;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.drinks-button:hover {
  background-color: #f4ce14;
  color: #fff;
}

.drinks-button .icon {
  height: 2rem;
  margin-left: 3rem;
}

.drinks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 columns for desktop */
  gap: 20px;
  padding: 20px;
  margin: 2rem auto;
  max-width: 1200px;
}

/* Individual course card */
.drinks-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 0px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.drinks-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.drinks-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* drinks image */
.drinks-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1vh;
}

/* drinks title */
.course-card h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1vh;
}

/* drinks price */
.drinks-price {
  font-size: 1rem;
  font-weight: bold;
  color: red;
  margin-right: 1rem;
  margin-bottom: 10px;
}

/* drinks description */
.drinks-description {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 2vh;
  text-align: left;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .drinks {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns for tablets */
  }
}

@media (max-width: 768px) {
  .drinks {
    grid-template-columns: 1fr;
    /* 1 column for mobile */
  }
}