* {
  margin: 0;
  box-sizing: border-box;
}

.spe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 13vh;
}

.section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 950px;
  margin-bottom: 20px;
}

.section1 h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.section1 button {
  font-weight: bold;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #f4ce14;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.section1 button:hover {
  background-color: #495E57;
  transform: translateY(-5px);
}

/* Special Food Item Styles */
.section2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 950px;
}

.food1 {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 0px;
}

.img {
  height: 21vh;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1vh;
  object-fit: cover;
}

.food-img {
  height: 21vh;
  width: 100%;
  border-radius: 10px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading h4 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.heading h5 {
  font-size: 1.2rem;
  color: red;
}

.description p {
  text-align: left;
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 1vh;
}

.order {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order button {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 15px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  background-color: #495e57;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.order button:hover {
  background-color: #f4ce14;
  transform: scale(1.01);
}

.ikon {
  height: 30px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .section2 {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns for tablets */
  }
}

@media (max-width: 480px) {
  .section2 {
    grid-template-columns: 1fr;
    /* 1 column for mobile */
  }
}