/* Main container */
.ordercontainer {
    padding: 2rem 5rem;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.order-meals-con {
    border: 2px solid #111;
    border-radius: 30px;
    background-color: transparent;
    width: 50rem;
    height: 40rem;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.order-meals-con > h3 {
    font-family: 'Markazi Text', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1rem;
    color: #111;
    text-align: start;
    padding: 1rem;
    padding-left: 2rem;
}

.order-meal-card {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border-bottom:1px solid #ddd;
    align-items: center;
    justify-content: space-between;
    margin: 0.2rem 1rem;
}

.order-meals-header{
    font-family: 'Karla', sans-serif;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-meals-header p {
    font-size: 1.2rem;
}

.order-meal-img{
    border-radius: 10px;
    width: 70px;
}


.add-substract {
    display: flex;
    flex-direction: row;
    margin: .1rem .5rem;
}

.add-substract button {
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.add-substract button:hover {
    color: #f4ce14;
    background-color: white;
}


/* Progress and Order Details (Right Side) */
.seco {
    display: flex;
    flex-direction: column;
    width: 40%;
    border-left: 1px solid #ddd;
    margin: 5vh auto;
}

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.progress {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.progress-step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diamond {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    transform: rotate(45deg);
    transition: background-color 0.3s;
}

.diamond.active {
    background-color: #f4ce14;
}

.step-label {
    font-size: 0.8rem;
    margin-top: 5px;
}

  /* Select Your Meal   */

.select-meals {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.select-meals h2 {
    font-size: 1rem;
}

.select-meals h3 {
    align-items: end;
    justify-content: end;
    text-align: end;
}

   /* Recipient Info    */

.recipient-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipient-info h2 {
    font-size: 1rem;
}

.recipient-form {
    box-shadow: none;
}

.row-input {
    display: flex;
    flex-direction: row;
}

.row-input div {
    margin-left: 5px;
}

  /* Order Confirmation */

.confirmation {
    margin-top: 3vh;
    margin-left: 3vw;
}

.control-buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.control-buttons button {
    color: #f4ce14;
    border-radius: 10px;
    border: 1px solid #f4ce14;
    background-color: transparent;
    width: 10vw;
    margin-left: 5px;
}

.control-buttons button:hover {
    color: #fff;
    background-color: #f4ce14;
}

/* Responsive Design */
@media (max-width: 768px) {
    .order-container {
        flex-direction: column;
    }

    .meals-grid {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }

    .progress-container {
        border-left: none;
        padding: 10px;
    }
}
